<style type="text/css">
     .nav li a:focus{
    background-color: #265a88;
</style>

<div class="panel-default row" ng-controller="productListCtrl">
    <div class="col-xs-2 col-md-2" ng-hide="data.error">
        <ul class="nav nav-stacked nav-pills">
            <li role="presentation">
                <a href="#" ng-click="selectCategory()" ng-class="getCategoryClass(item)">Home</a>
            </li>
            <li ng-repeat="item in data.products | orderBy:'category'| unique:'category'">
                <a href="#" ng-click="selectCategory(item)"  ng-class="getCategoryClass(item)" >      {{item}}
                </a>
            </li>
        </ul>
    </div>
    <div class=" well col-xs-10 col-md-10">
        <div class="col-sm-6 col-md-4" ng-repeat="item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
            <div class="thumbnail">
             <!--  <img src="..." alt="..."> -->
              <div class="caption">
                <h3>{{item.name}}</h3>
                <p><span class="">{{item.description}}</span></p>
                <p class="label label-primary">{{item.price | currency}}</p>
                <br/><br/>
                <p>
                    <a href="#" class="btn btn-success btn-sm" ng-click="addProductToCart(item)">Add to Cart</a> 
                </p>
              </div>
            </div>
        </div>
    </div>
     <div class="clearfix pull-right">
            <a ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize"  ng-click="selectPage($index +1)" class="btn btn-default" ng-class="getPageClass($index+1)">{{$index +1}}</a>
        </div>
</div>